nav{
    position: absolute;
}
.main--menu{
    position: fixed;
    top: 0;
    right: 0;
    height: 65%;
    width: 22px;
    z-index: 24;
}
.main--menu:hover + .main-menu{
    transition: 1s;
    transform: translateX(0px);
    right: 0;
}
.main-menu:hover{
    transform: translateX(0px);
    right: 0;
}
.main-menu{
    position: fixed;
    top: 0;
    right: -20px;
    z-index: 23;
    background-color: rgba(54, 16, 88, .7);
    height: 65%;
    width: 240px;
    border-bottom-left-radius: 15px;
    transform: translateX(100%);
    transition: 1s;
}
input#check-menu:checked  ~ div.main-menu{
    transform: translateX(0px);
    right: 0;
}
#button:hover div.main-menu{
    right: 0;
}
.main-menu ul{
    padding-top: 20px;
}

.main-menu ul li{
    list-style: none;
    margin: 15px 0;
}
.main-menu ul li a{
    /*line-height: 1.5;*/
    /*font-size: 22px;*/
    /*font-family: "sans-serif", 'serif';*/
    color: white;
    font: 24px/1.5 Arial, sans-serif;
    text-decoration: none;
}
.main-menu ul li a:hover{
    color: blueviolet;
}
#check-menu{
    display: none;
}
label span{
    margin-top: 3px;
    display: inline-block;
    font-size: xx-large;

}
label{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 50px;
    width: 50px;

    border: 1px solid  rgba(226, 256, 300, .3);;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
    outline: none;
    z-index: 20;

}
label:hover{
    background-color: rgba(0, 0, 0, .8);
    border: 1px solid blueviolet;
    color: white;
}
label p{
    font-size: 12px;
    margin: 18px 0  18px  ;
}
@media (max-height: 520px) {
    .main-menu {
        height: 77%;
        padding-top: 0;
    }
    .main-menu ul {
        padding-top: 0;
    }
    .main-menu ul li a{

        font: 24px/1 Arial, sans-serif;
    }
}
@media (max-height: 310px) {
    .main-menu {
        height: 77%;
        padding-top: 0;
        overflow-y: scroll;
    }
    .main-menu ul {
        padding-top: 0;
    }
    .main-menu ul li a{

        font: 24px/1 Arial, sans-serif;
    }
}